.blox-resume-awards {
  .w-full.p-6 {
    font-size: 0.8rem !important;
    padding: 1rem !important;
  }
  
  .text-2xl {
    font-size: 1.2rem !important;
  }
  
  .text-sm {
    font-size: 0.75rem !important;
  }
}